<!DOCTYPE html>

{% load static %}
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
		{% if categories %}
		
			<ul>
			{% for category in categories %}
				<li><a href="/rango/category/{{category.url}}">{{category.name}}</a></li>
			{%endfor %}
			</ul>
			
		{% else %}
		
			<p>There are no Categories present.</p>	
		
		{% endif %}
		<a href="/rango/add_category/">Add a New Category</a>
        {% if pages %}
		
			<ul>
			{% for page in pages %}
				<li><a href="{{page.url}}">{{page.title}} Views : {{page.views}} </a></li>
			{%endfor %}
			</ul>
			
		{% else %}
		
			<p>There are no Pages present.</p>	
		
		{% endif %}
        
    </body>

</html>